/target
/Cargo.lock
/cpp/search
*.so
/cpp/try
/out.smiles
testing/draw
/testing/mol.html
/testing/inchi
/static/main
include/libwrapper.a
include/wrapper.o
try-static/libwrapper.a
try-static/main
try-static/try
try-static/try.o
try-static/wrapper.o